* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #feca1b;
  -webkit-font-smoothing: antialiased !important;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 768px) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}
